// colors
$-black : #000000;
$-black-100E : #100D0E;
$-black-3030 :#303030;
$-white:#ffffff;
$-gray: #D6D6D6;
$-gray-light:#e5e5e5;
$-gray-100: #F0F0F0;
$-gray-200: #F2F2F2;
$-gray-300:#C4C4C4;
$-gray-400:#C6C6C6;
$-gray-500:#858585;
$-gray-bold:#7D7D7D;;
$-gray-600:#333333;
$-gray-B97:#B9B7B7;
$-prisma: #FF5A5F;
$-crimson: rgb(156, 4, 34);
$-red: #FF0000;
$-shockPink:rgb(220, 20, 60);